body {
    background-color: #141414;
    color: #ffffff
  }
  
  .movie-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  
  .img-container {
      position: relative;
      transition: transform 0.2s;
  }
  
  .img-container:hover {
      cursor: pointer;
      transform: scale(1.1);
  }
  
  .img-container:hover .overlay {
      opacity: 1;
  }
  
  .overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      transition: 0.5s ease;
      opacity: 0;
      bottom: 0;
      font-size: 20px;
      padding: 20px;
      text-align: center;
  }
  
  .mr-2 {
    color: rgb(32, 236, 90);
  }
  
  .bi-heart-fill {
    color: red;
  }